 @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');



html{
    
  
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'JetBrains Mono', monospace;    
    overflow-x: hidden;
    -moz-animation:transitionIn  0.95s;
    animation: transitionIn 0.95s;
    
    
    
    


   

        
    
            
        
    

    
   
    
    
    
}

.container{
    width: 100%;
    margin: 0 auto;
    -moz-animation:transitionIn  0.95s;
    animation: transitionIn 0.95s;
    
  
      
    


   

  
}



.home{
    text-align: center;
    font-weight: lighter;
    font-size: 25px;
    margin-left: -51px;
    
    
}


.nav{
    border-bottom: 1px solid #EAEAEB;
    text-align: center;
    height: 70px;
    line-height: 70px;
    
    
    
}
.menu{
    margin: 0 0 0 0 0;
    font-size: 15px;

    
   
    
    
}
.menu a{
    
    margin: 0 39px;
    line-height: 70px;
    
    
}

label{
    margin: 0 40px 0 0;
    font-size: 26px;
    display: none;
    width: 26px;
    float: right;
}

#toggle{
    display: none;
}
.h1{
    color: #c7c9bb;
    font-size: 30px;
    position: absolute;
    bottom: 50%;
    left: 10%;
}


.img1{
    object-fit: cover;
    width: 100%;


    
   
}

#slider{
    overflow: hidden;
    
    
    
    
   
}

#slider figure{
    position: relative;
   
    display: flex;
    animation: 15s slider infinite;
    
    
   
}

#slider figure img{
    width: 100%;
    
}

@keyframes slider{
    0%{
        left: 0;
    }

    20%{
        left: 0;
    }

    25%{
        left: -100%;
    }

    45%{
        left: -100%;
    }

    50%{
        left: -200%;
    }

    70%{
        left: -200%;
    }

    75%{
        left: 0;
    }
}


            
    


a{
    text-decoration: none;
    color: black;
}


.ps4-games{
    width: 100%;
    margin-top: 10em;
    margin-left: 15.5em;
    -moz-animation:transitionIn  0.95s;
    animation: transitionIn 0.95s;
   


    



    

    
    
    
    
   
   
  
}

.ps4-title{
    font-size: 30px;
    
    text-align: center;
    width: 100%;
    margin-top: -3em;
    position: absolute;
    margin-left: -250px
        
    
}


.cyberpunk{
    object-fit: cover;
    width: 100%;
    height: 300px;
    
    
    
    

}


.demons-souls{
    object-fit: cover;
    width: 100%;
    height: 300px;
    
    
}

.ps4-container{
    
    margin-top: 10em;
    width: 100%;
    margin-left: -14.5em;
   
  
    

}


.ghostoftsushima{
    object-fit: cover;
    height: 300px;
    width: 100%;
}

.infamous{
    object-fit: cover;
    width: 100%;
    height: 300px;
}


.uncharted{
    object-fit: cover;
    width: 100%;
    height: 300px;
}

.game1{
    margin-right: 1rem;
    
}

.game2{
    margin-right: 1rem;
}

.game3{
    margin-right: 1rem;
}

.game4{
    margin-right: 1rem;
}

.xbox-games{
    margin-top: 20em;
    margin-left: 1em;
    width: 100%;
   
   
}

.xbox-title{
    font-size: 30px;
    text-align: center;
    margin-top: -3em;
    position: absolute;
    width: 100%;
}

.halo5{
    object-fit: cover;
    width: 100%;
    height: 300px;
}

.xbox-container{
    width: 100%;
    margin-top: 10em;
    
    
    
   
   
}

.sea-of-thieves{
    object-fit: cover;
    width: 100%;
    height: 300px;
}

.ori{
    object-fit: cover;
    width: 100%;
    height: 300px;
}

.sunset{
    object-fit: cover;
    width: 100%;
    height: 300px;
}

.gears5{
    object-fit: cover;
    width: 100%;
    height: 300px;
}

.nintendo-title{
    font-size: 30px;
    text-align: center;
    margin-top: -3em;
    position: absolute;
    width: 100%;
}

.animal{
    object-fit: cover;
    width: 100%;
    height: 300px;
}

.nintendo-container{
    width: 100%;
    margin-top: 10em;
    margin-left: 1.5em;
    
    
    


}

.legendofzelda{
    object-fit: cover;
    width: 100%;
    height: 300px;
}

.papermario{
    object-fit: cover;
    width: 100%;
    height: 300px;
}

.supermario{
    object-fit: cover;
    width: 100%;
    height: 300px;
}

.daemon{
    object-fit: cover;
    width: 100%;
    height: 300px;
}


.pc-title{
    
    font-size: 30px;
    margin-top: -3em;
    position: absolute;
    width: 100%;
    text-align: center
    
}

.disco{
    object-fit: cover;
    width: 100%;
    height: 300px;
}

.pc-container{
    
    width: 100%;
    margin-top: 10em;
    margin-left: 1.5em;
    
}

.mount{
    object-fit: cover;
    width: 100%;
    height: 300px;
}

.rimworld{
    object-fit: cover;
    width: 100%;
    height: 300px;
}

.guild{
    object-fit: cover;
    width: 100%;
    height: 300px;
}

.arma{
    object-fit: cover;
    width: 100%;
    height: 300px;
}

.game1 :hover{
    transform: scale(0.9);
    transition: 200ms;
    -webkit-transform: scale(0.9);
    -webkit-transition: 200ms;
 
    cursor: pointer;
}

.game2 :hover{
    transform: scale(0.9);
    transition: 200ms;
   -webkit-transform: scale(0.9);
   -webkit-transition: 200ms;
    cursor: pointer;

}

.game3 :hover{
    transform: scale(0.9);
    transition: 200ms;
    -webkit-transform: scale(0.9);
    -webkit-transition: 200ms;
 
    cursor: pointer;

}

.game4 :hover{
    transform: scale(0.9);
    transition: 200ms;
    -webkit-transform: scale(0.9);
    -webkit-transition: 200ms;
 
    cursor: pointer;

}

.game5 :hover{
    transform: scale(0.9);
    transition: 200ms;
    -webkit-transform: scale(0.9);
    -webkit-transition: 200ms;
 
    cursor: pointer;

}

.nintendo_switch_games{
    width: 100%;
    margin-top: 20em;
}

.pc-games{
    margin-top: 18em;
}


@media only screen and (max-width:500px){

    label{
        display: block;
        cursor: pointer;
    }
    .menu{
        text-align: center;
        width: 100%;
        display: none;
        
    }

    .menu a{
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
        clear: right;
        font-size: 38px;

    }
    #toggle:checked + .menu{
        display: block;
    }

    .home{
        font-size: 40px;
        text-align: center;
    }

        
        
    
    figure{
        width: 1200px;
       


    }
    #slider{
        width: 1200px;
        margin-top: 8em;
        
    }
    

}

@media only screen and (max-width:1200px){

    .container{
        margin-left: 15em;
       
    }
    .menu{
        font-size: 25px;
    }


    
}

@media only screen and (max-width:768px){

    html{
        width: 100%;
    }
    
    label{
        display: block;
        cursor: pointer;
        font-size: 60px;
        position: relative;
        left: -1em;
        
        
        
    }
    .menu{
        text-align: center;
        width: 100%;
        display: none;
        font-size: 30px;
        
    }

    .menu a{
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
        clear: right;

    }
    #toggle:checked + .menu{
        display: block;
    }

        
        
    
    .container{
        width: 1200px;
        margin: 0 auto;
        
        
    }
    figure{
        width: 1200px;
       }
    
    #slider{
        margin-top: 25em;
    }
    
    .ps4-title{
        margin-left: 5em;
    }
    
    .xbox-title{
        margin-left: 13em;
    }
    
    .nintendo-title{
        width: 1200px;
    }
    
    .pc-title{
        margin-left: 14em;
    }

}

@media only screen and (max-width:1500px){

    .menu{
        font-size: 21px;
    }


}

@keyframes transitionIn{
    from{
        opacity: 0;
        transform: rotateY(-10deg);
    }
    
    to{
        opacity: 1;
        transform: rotateX(0);
    }
}

@-moz-keyframes transitionIn{
    from{
        opacity: 0;
        transform: rotateX(-10deg);
    }
    
    to{
        opacity: 1;
        transform: rotateX(0);
    }
}

